<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link href="css/signup.css" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="con">
      <div class="title-con horCenter">
        <i class="fa-solid fa-note-sticky" style="color: #00276b"></i>
        <div class="title" id="title">Note-Plus</div>
      </div>
      <div class="signuptitle horCenter">Login</div>
      <div class="ac horCenter">Login to Stay Connected</div>
      <form method="post" class="form" action="/login">
        <input
          type="email"
          id=""
          placeholder="Email"
          class="email"
          name="email"
          required
        />
        <div class="passcon">
          <input
            type="password"
            id=""
            placeholder="Password"
            class="pass"
            name="password"
            required
          />
        </div>
          <div class="re spbet">
            <div class="remenberme" style="display: flex; align-items: center;">
              <input type="checkbox" name="" id="" class="checkbox"/>Remember me
            </div>
              <a href="#">Forgot Password</a>
            </div>
        <div class="horCenter">
          <button type="submit" class="btn">Sign In</button>
        </div>
        <div class="bottom horCenter ac">
          Create an account <a href="#">signup</a>
        </div>
      </form>
    </div>
  </body>
</html>
